services:
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info  
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: ""
    volumes:
      - "./navidrome/data:/data:rw"
      - "./navidrome/music:/music:ro"
  
  veles-bot:
    build:
      context: ./telegram-bot
      dockerfile: Dockerfile
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN} 
      - TELEGRAM_USERS_WHITELIST=${TELEGRAM_USERS_WHITELIST}
      - NAVIDROME_BASE_URL=${NAVIDROME_BASE_URL}
      - NAVIDROME_USERNAME=${NAVIDROME_USERNAME}
      - NAVIDROME_PASSWORD=${NAVIDROME_PASSWORD}
      - PIXELDRAIN_TOKEN=${PIXELDRAIN_TOKEN}
    env_file:
      - .env
    volumes:
      - "./navidrome/music:/bot/music:rw"
      - "./configs/cron:/etc/crontabs:rw"
      - "./:/project:r"
    restart: unless-stopped
